body {
    background: rgb(255 255 255);
}

.text1 {
    text-align: center;
    color: #25859a;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.clock {
    color: #25859a;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.text2 {
    text-align: center;
    color: #25859a;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
}


.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}